<h3>ProductsList</h3>

@code {
    /*List<Category> Categories = new List<Category>()
    {
        new Category()
        {
            Id = 1,
            Name = "Laptops"
        },
        new Category()
        {
            Id = 2,
            Name = "Mobile Phones"
        },
        new Category()
        {
            Id = 3,
            Name = "Smart Watches"
        },
        new Category()
        {
            Id = 4,
            Name = ""
        }
    };*/
}
