
<!-- sidebar starts -->
<section id="sidebar">
	<a href="#" class="brand">
		<span class="material-symbols-sharp">
			trending_up
		</span>
		<span class="text">AdminHub</span>
	</a>

	<ul class="side-menu top">
		<li class="active">
			<a href="#" >
				<span class="material-symbols-sharp">
					dashboard
				</span>
				<span class="text">Dashboard</span>
			</a>
		</li>
		<li>
			<NavLink href="/products/index">
				<span class="material-symbols-sharp">
					inventory
				</span>
				<span class="text">
					Products
				</span>
			</NavLink>
		</li>
		<li>
			<NavLink href="/brands/index" Match="NavLinkMatch.Prefix">
				<span class="material-symbols-sharp">
					stacks
				</span>
				<span class="text">
					Brands
				</span>
			</NavLink>
		</li>
		<li>
			<a href="#">
				<span class="material-symbols-sharp">
					analytics
				</span>
				<span class="text">Analytics</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="material-symbols-sharp">
					sms
				</span>
				<span class="text">Message</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="material-symbols-sharp">
					groups
				</span>
				<span class="text">Team</span>
			</a>
		</li>
	</ul>

	<ul class="side-menu">
		<li>
			<a href="#">
				<span class="material-symbols-sharp">
					settings
				</span>
				<span class="text">Settings</span>
			</a>
		</li>
		<li>
			<a href="#" class="logout">
				<span class="material-symbols-sharp">
					logout
				</span>
				<span class="text">Logout</span>
			</a>
		</li>
	</ul>
</section>
<!-- sidebar ends -->