
@code {

}


<div id="howitworks" class="padding-top-xtra-large padding-bottom-xtra-large">
    <div class="container">
        <h2>You're Just Four Steps Away From Having The Best Tech</h2>
        <p class="text-block">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
            eirmod tempor invidunt ut labore dolore magna aliquyam sed diam voluptua.
        </p>
        <div class="hiw-section-items">
            <div class="hiw-item">
                <span class="material-symbols-sharp">
                    person_add
                </span>
                <h4>Create an Account</h4>
                <p>
                    Lorem ipsum dolor sit amet consetetur sadipscing elitr sed diam nonumy
                </p>
            </div>
            <div class="hiw-item">
                <span class="material-symbols-sharp">
                    search
                </span>
                <h4>Find Your Product</h4>
                <p>
                    Lorem ipsum dolor sit amet consetetur sadipscing elitr sed diam nonumy
                </p>
            </div>
            <div class="hiw-item">
                <span class="material-symbols-sharp">
                    shopping_basket
                </span>
                <h4>Add To Cart</h4>
                <p>
                    Lorem ipsum dolor sit amet consetetur sadipscing elitr sed diam nonumy
                </p>
            </div>
            <idv class="hiw-item">
                <span class="material-symbols-sharp">
                    local_shipping
                </span>
                <h4>Delivery in 7 Days from 1st Payment</h4>
                <p>
                    Lorem ipsum dolor sit amet consetetur sadipscing elitr sed diam nonumy
                </p>
            </idv>
        </div>
    </div>    
</div>