@code {

}


<div id="product-range" class="margin-top-xtra-large">
    <div class="range-col">
        <div class="range-meta">Categories</div>
        <h2 class="range-tagline">        Explore Our Product Range    </h2>
        <div class="range-col-items">
            <div class="range-col-cell">
                <NavLink class="range-col-cell-lnk" href="categories">
                    <img src="/img/categories/audio-and-music.jpg" />
                </NavLink>
                <h3>Audio and Music </h3>
            </div>
            <div class="range-col-cell">
                <NavLink class="range-col-cell-lnk" href="categories">
                    <img src="/img/categories/drones.jpg" />
                </NavLink>
                <h3>Drones </h3>
            </div>
            <div class="range-col-cell">
                <NavLink class="range-col-cell-lnk" href="categories">
                    <img src="/img/categories/computers.jpg" />
                </NavLink>
                <h3>Computers </h3>
            </div>
            <div class="range-col-cell">
                <NavLink class="range-col-cell-lnk" href="categories">
                    <img src="/img/categories/wearables.jpg" />
                </NavLink>
                <h3>Wearbales </h3>
            </div>
            <div class="range-col-cell">
                <NavLink class="range-col-cell-lnk" href="categories">
                    <img src="/img/categories/consoles-and-vr.jpg" />
                </NavLink>
                <h3>Gaming & VR </h3>
            </div>
            <div class="range-col-cell">
                <NavLink class="range-col-cell-lnk" href="categories">
                    <img src="/img/categories/phones-and-tablets.jpg" />
                </NavLink>
                <h3>Phones and Tablets </h3>
            </div>
            <div class="range-col-cell">
                <NavLink class="range-col-cell-lnk" href="categories">
                    <img src="/img/categories/home-entertainment.jpg" />
                </NavLink>
                <h3>Home Entertainment </h3>
            </div>
            <div class="range-col-cell">
                <NavLink class="range-col-cell-lnk" href="categories">
                    <img src="/img/categories/cameras.jpg" />
                </NavLink>
                <h3>Cameras </h3>
            </div>
        </div>

    </div>
</div>
