@page "/"
@using BTW.Web.Client.Pages.Components


<PageTitle>Home</PageTitle>

<div id="featured" class="no-top-bottom-padding">
    <div class="featured-left">
        <img src="/img/products/dji-min-4k.jpg" class="featured-bg-img" alt="">
    </div>
    <div class="featured-right">
        <div class="featured-details">
            <p class="new-in">New Arrival</p>
            <NavLink class="" href="categories">
                Drones
            </NavLink>
            <h3>Rent to own the DJI Mini 4K</h3>
            <span class="item-details">
                DJI Mini 4K, drone with 4K UHD Camera.  3-axis gimbal stabilization, 10km 
                video transmission, auto return, wind resistance, 31-Min Max Flight Time, 
                Intelligent Flight.
            </span>
            <div class="featured-actions-wrap">
                <NavLink class="btn-primary" href="#">
                    Discover More
                </NavLink>
            </div>

        </div>
    </div>
    
</div>

<HowItWorkds />

<ProductRange />

<div id="selection" class="margin-top-small">
    <div class="selection-col">
        <div class="sample-item-wrap">
            <img src="/img/products/headphone-bg.jpg" alt="">
            <div class="sample-item-wrap-details">
                <h3>Headphones</h3>
                <div class="meta">Best Headphones for Every Day</div>
                <div class="link-wrap">
                    <NavLink class="" href="categories">
                        View Collection
                    </NavLink>
                </div>
            </div>
        </div>
    </div>
    <div class="selection-col">
        <div class="sample-item-wrap">
            <img src="/img/products/smartwatch-bg.jpg" alt="">
            <div class="sample-item-wrap-details">
                <h3>Smartwatches</h3>
                <div class="meta">The Ultimate Accessory</div>
                <div class="link-wrap">
                    <NavLink class="" href="categories">
                        View Collection
                    </NavLink>
                </div>
            </div>
        </div>
    </div>
</div>




