@page "/"

<PageTitle>Index</PageTitle>

<div class="head-title">
	<div class="left">
		<h1>Dashboard</h1>
		<ul class="breadcrumb">
			<li>
				<a href="#">Dashboard</a>
			</li>
			<li>
				<span class="material-symbols-sharp">
					chevron_right
				</span>
			</li>
			<li>
				<a class="active" href="#">Home</a>
			</li>
		</ul>
	</div>
	<a href="#" class="btn-download">
		<i class='bx bxs-cloud-download'></i>
		<span class="text">Download PDF</span>
	</a>
</div>
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
