
@code {

}

<div id="footer" class="section">
    <div class="container display-flex">
        <div class="footer-column">
            <h3>Grid Item</h3>
        </div>
        <div class="footer-column">
            <h3>Grid Item</h3>
        </div>
        <div class="footer-column">
            <h3>Grid Item</h3>
        </div>
        <div class="footer-column">
            <h3>Grid Item</h3>
        </div>
    </div>
</div>

