
@code {

}

<div class="navabr" id="navbar-desktop">
    <div class="wrapper">
        <div class="main-nav">
            <NavLink class="nav-item" href="/" Match="NavLinkMatch.All">
                BlazingTechShop
            </NavLink>
            <NavLink class="" href="categories">
                <span class="nav-item"></span> Categories
            </NavLink>
            <NavLink class="" href="deals">
                <span class="nav-item"></span> Deals
            </NavLink>
            <NavLink class="" href="brands">
                <span class="nav-item"></span> Brands
            </NavLink>
        </div>
        <div class="rhs">
            <div class="icons">
                <span class="material-symbols-sharp">
                    search
                </span>
                <span class="material-symbols-sharp">
                    person
                </span>
                <span class="material-symbols-sharp">
                    favorite
                </span>
                <div class="cart-icon">
                    <span class="material-symbols-sharp">
                        shopping_cart
                    </span>
                    <span class="cart-count">0</span>
                </div>
            </div>  
        </div>
    </div>
</div>


